.wrapper {
  height: 100%;
  display: table;
  width: 100%;
}

.header {
  display: table-row;
  height: 30px;
  width: 100%;
  background-color: gray;
  text-align: right;
}

.Username {
  padding: 0.5em;
}

.mainContent {
  height: 100%;
  display: table;
  width: 100%;
  background-color: lightblue;
}

.box {
  display: table-cell;
}

.sidebar {
  display: table-cell;
  width: 150px;
  background-color: pink;
  padding: 1em;
}

.input {
  width: 100%; 
}

.inputContainer {
    display: block;
    overflow: hidden;
    padding: 0 0.5em 0 0;
}

.submit {
  float: right;
}

button {
  margin: 0.5em;
}